
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto auto auto auto auto auto auto auto; /* Ajusta las filas automáticamente */
}
    
.div1 {
    height: 500px;
    grid-column: span 5 / span 5;
    grid-row-start: 0;
    grid-row-end: 1;
    padding: 0; /* Asegura que no haya espacio adicional */
    background-color: #fef9ed; /* Fondo del div1 */
}




.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fef9ed !important;;
    padding: 10px 20px;
    position: relative;
}


.div1, .div2 {
    width: 100%; /* Asegura que ocupen todo el ancho */
    height: auto; /* Ajusta la altura automáticamente */
    margin: 0; /* Elimina márgenes adicionales */
    padding: 0; /* Elimina relleno adicional */
}
/* Separar los nav-items */
.navbar-nav .nav-item {
    margin-right: 280px;
}

.navbar-nav .nav-link {
    font-size: 18px; /* Ajusta el tamaño de la fuente */
    font-weight: bold; /* Opcional: agrega negrita para mayor visibilidad */
}

.navbar-nav {
    margin-left: 230px; /* Ajusta el valor para aumentar la separación */
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 20px;
}

.logo-img {
    width: 150px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantén la proporción de la imagen */
    display: block; /* Asegura que se comporte como un bloque dentro del enlace */
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: black !important; /* Color de texto negro */
    font-size: 1rem;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-item {
    font-size: 1rem;
    color: black;
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.btn-outline-dark {
    border-color: black;
    color: black;
}

.btn-outline-dark:hover {
    background-color: black;
    color: white;
}

.btn-dark {
    background-color: black;
    color: white;
}

.btn-dark:hover {
    background-color: #333;
}

.toggle-menu {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-items,
    .nav-buttons {
        display: none;
    }

    .toggle-menu {
        display: block;
    }

    .navbar.active .nav-items,
    .navbar.active .nav-buttons {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fef9ed;
        padding: 10px 0;
    }

    .nav-item {
        text-align: center;
        padding: 10px 0;
        color: black;
    }

    .btn {
        width: 90%;
        margin: 5px auto;
    }
}










.div2 {
    height: 500px;
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 1;
    background-color: #fef9ed; /* Fondo del div2 */
    padding: 0; /* Asegura que no haya espacio adicional */
    background-color: #a7b28a; /* Fondo del div2 */
    padding: 0; /* Asegura que no haya espacio adicional */
}

.seccion-info {
    background-color: rgba(167, 178, 138, 1);
    padding: 40px 20px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

.titulo-info {
    color: #355723;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.contenido-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.descripcion-info {
    color: #4C7A34;
    font-size: 18px;
    line-height: 1.5;
    max-width: 500px;
    text-align: left;
}

.icono-reciclaje img {
    width: 142px;
    height: 142px;
}

.boton-unete {
    margin-top: 30px;
    background-color: #29323D;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    padding: 10px 20px;
    border: 1px solid #29323D;
    border-radius: 21px;
    cursor: pointer;
    text-transform: uppercase;
    width: 500px;
}

.div2, .div3 {
    margin: 0; /* Elimina márgenes adicionales */
}











.div3 {
    height: 500px;
    grid-column: span 5 / span 5; /* Mismo ancho que el div2 */
    grid-row: span 2 / span 2; /* Mismo alto que el div2 */
    grid-row-start: 3; /* Comienza justo después del div2 */
    background-color: #fef9ed; /* Mismo color de fondo que el div1 */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.seccion-div3 {
    text-align: center;
    width: 100%;
}

.titulo-div3 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #355723;
}

.imagenes-con-linea {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
  /*  gap: 20px;
    margin-top: 20px;*/
}

.imagen-con-texto {
    text-align: center;
}

.imagen-con-texto img {
    width: 100px; /* Ajusta el tamaño de las imágenes */
    height: 100px;
    object-fit: cover;
}

.linea-vertical {
    width: 5px;
    height: 100px;
    background-color: #333; /* Color de la línea */
}

.texto-mediano {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    color: #555;
}

.texto-pequeno {
    font-size: 18px;
    color: #777;
    margin-top: 5px;
}

.texto-mediano {
    font-size: 24px !important;
}
.texto-pequeno {
    font-size: 18px !important;
}











.div4 {
    height: 350px;
    grid-column: span 5 / span 5; /* Mismo ancho que el div2 */
    grid-row: span 2 / span 2; /* Mismo alto que el div2 */
    background-color: #a7b28a; /* Mismo fondo que el div2 */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.seccion-div4 {
    text-align: center;
    width: 100%;
}

.titulo-div4 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #355723;
}

.contenedor-textos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
}

.grupo-textos {
    text-align: center;
}

.texto-mediano {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

.texto-pequeno {
    font-size: 18px;
    color: #777;
}











.div5 {
    min-height: 500px;
    grid-column: span 5 / span 5; /* Mismo ancho que el div1 */
    grid-row: span 2 / span 2; /* Ajusta el alto */
    background-color: #fef9ed; /* Mismo fondo que el div1 */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion-div5 {
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.titulo-div5 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #355723;
}

.comentarios {
    width: 100%;
    max-width: 600px;
    height: 100px;
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.ejemplos-comentarios {
    margin: 20px 0;
}

.comentario-ejemplo {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
    font-style: italic;
}

.boton-inicio {
    margin-top: 20px;
    background-color: #29323D;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    width: 500px;
}

.boton-inicio:hover {
    background-color: #1f262e;
}

.boton-enviar {
    margin: 10px auto; /* Centra el botón horizontalmente */
    display: block; /* Asegura que el botón sea un bloque para centrarlo */
    background-color: #4CAF50;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: not-allowed; /* Indica que está deshabilitado */
    text-transform: uppercase;
    opacity: 0.6; /* Visualmente desactivado */
    width: 500px;
}

.boton-enviar:enabled {
    cursor: pointer;
    opacity: 1; /* Activo cuando se habilite */
}

.boton-enviar:hover:enabled {
    background-color: #45a049;
}


.modal-lg {
    max-width: 900px; /* Ajusta el ancho del modal */
}

.modal-body .container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Espaciado entre columnas */
}

.modal-body label {
    font-weight: bold;
    margin-bottom: 5px;
}

  /* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

  /* Set a style for all buttons */
button {
    background-color: #04AA6D; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 14px 20px; /* Espaciado interno */
    margin: 8px 0; /* Margen externo */
    border: none; /* Sin bordes */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    width: 100%; /* Ancho completo */
}

button:hover {
    opacity: 0.8; /* Efecto hover */
}


.btn-primary {
    background-color: #04AA6D !important;
    color: white !important;
    border: none !important;
    width: 100% !important;
}

  /* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #e81b0c;
        border: none !important; /* Elimina el borde */
        box-shadow: none !important; /* Elimina cualquier sombra */
}

  /* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

  /* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
    width: 150px; /* Cambia el tamaño según lo necesites */
    height: auto; /* Mantiene la proporción de la imagen */
}










/* The Modal (background) */
  /* Add padding to containers */
.container {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaciado entre los elementos */
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario */
    padding: 16px;
}


.container label {
    font-weight: bold;
    margin-bottom: 5px; /* Espaciado entre el label y el input */
    display: flex;
    align-items: center; /* Alinea el checkbox con el texto */
    gap: 20px; /* Espaciado entre el checkbox y el texto */
    font-size: 16px; /* Tamaño del texto */
    color: #4a4a4a;
}

/* Estilo para los checkboxes */
.container input[type="checkbox"] {
    width: 18px; /* Ancho del checkbox */
    height: 18px; /* Alto del checkbox */
    cursor: pointer; /* Cambia el cursor al pasar sobre el checkbox */
    accent-color: #355723; /* Cambia el color del checkbox */
}

/* Efecto hover en los labels */
.container label:hover {
    color: #355723; /* Cambia el color del texto al pasar el mouse */
}

.container input,
.container select {
  width: 100%; /* Asegura que los campos ocupen todo el ancho disponible */
  padding: 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño del texto */
  border: 1px solid #ccc; /* Borde de los campos */
  border-radius: 5px; /* Bordes redondeados */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
margin-bottom: 15px;
}

/* Contenedor de la pregunta */
.container p {
    font-weight: bold;
    color: #4a4a4a; /* Gris oscuro */
    margin-bottom: 10px; /* Espaciado inferior */
}

  /* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

  /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
    display: block;
    float: none;
    }
    .cancelbtn {
    width: 100%;
    }
    
}